<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="library/kkpager/kkpager_blue.css"/>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="index.html">首页</a></li>
                <li><a href="/front/pages/index.html" target="_blank">网站首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="/logout">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="index.html"><i class="icon-font">&#xe008;</i>文章管理</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap" id="v-index">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">文章管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="#" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">栏目:</th>
                            <td>
                                <select name="search-sort" v-model="category">
                                    <option value="">全部</option>
                                    <option value="集团新闻">集团新闻</option>
                                    <option value="党建与文化">党建与文化</option>
                                    <option value="辉隆人">辉隆人</option>
                                    <option value="公告">公告</option>
                                </select>
                            </td>
                            <th width="70">标题:</th>
                            <td><input class="common-text" placeholder="标题" name="keywords" v-model="title" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" @click="search()" type="button"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="insert.html"><i class="icon-font"></i>新增文章</a>
                    </div>
                </div>
                <div class="result-content">
                    <table  class="result-tab" width="100%">
                        <tr>
                            <th align="center" width="5">序号</th>
                            <th align="center" width="20">标题</th>
                            <th align="center" width="10">栏目</th>
                            <th align="center" width="7">创建时间</th>
                            <th align="center" width="8">发布时间</th>
                            <th align="center" width="10">操作</th>
                        </tr>
                        <tr v-for="(item,index) in articles">
                            <td align="center">{{ index + 1 }}</td>
                            <td><a target="_blank" :href="'/front/pages/news-detail.html?id=' + item.id">{{ item.title }}</a>
                            </td>
                            <td align="center">{{ item.category }}</td>
                            <td align="center">{{ item.createTime }}</td>
                            <td align="center" v-if="item.isPublished">{{ item.publishTime }}</td>
                            <td align="center" v-else="" >未发布</td>
                            <td align="center">
                                <a class="link-update" :href="'insert.html?id=' + item.id">修改</a>
                                <template v-if="item.isPublished">
                                    <a href="javascript:" class="link-del"  @click="cancelPublish(item.id)">取消发布</a>
                                </template>
                                <template v-else>
                                    <a href="javascript:" class="link-del"  @click="publish(item.id)">发布</a>
                                    <a href="javascript:" class="link-del"  @click="deleteArticle(item.id)">删除</a>
                                </template>
                            </td>
                        </tr>

                    </table>
                    <div id="kkpager" class="list-page"></div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
<script type="text/javascript" src="./library/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="./library/kkpager/kkpager.min.js"></script>
<script type="text/javascript" src="./library/vue.v2.2.1.js"></script>
<script type="text/javascript" src="./js/index.js"></script>
</body>
</html>